{% extends "base.html" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Профиль</title>
{% endblock %}


{% block content %}
    <div class="w3-card-4 w3-display-middle" style="width: 30%">
      <form class="w3-container" id="myForm">
        <p>
        <label><b>Логин</b></label>
        <input class="w3-input w3-border w3-sand" id="login" type="text"></p>
        <p>
        <label><b>Новый пароль</b></label>
        <input class="w3-input w3-border w3-sand" id="password" type="password"></p>
        <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
        <p>
        <label><b>ФИО</b></label>
        <input class="w3-input w3-border w3-sand" id="username" type="text"></p>
        <p>
        <button onclick="btn_back()" type="button"  class="w3-btn w3-gray">Назад</button>
        <button onclick="edit_user_data()" type="button"  class="w3-btn w3-blue" style="float: right">Применить</button></p>
        </form>
    </div>

<style type="text/css">
.password-control {
	position: absolute;
	top: 125px;
	right: 25px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
</style>

<script>
    function btn_back() {
        window.history.back();
    }

    function edit_user_data() {
        const token = sessionStorage.getItem("token");
        var formData = JSON.stringify(
            {
                "user_id": parseJwt(token).id,
                "login": $("#login").val(),
                "password": $("#password").val(),
                "photoUrl": "https://www.w3schools.com/w3css/img_snowtops.jpg",
                "username": $("#username").val()
            }
        );

        $.ajax({
            type: "PUT",
            url: "/user/editAdminProfile",
            data: formData,
            headers: {"Authorization": token},
            dataType: "json",
            contentType : "application/json",

            success: function () {
                sessionStorage.clear();
                window.location.href = "/"
            }
        });
    }


    function show_hide_password(target){
        const input = document.getElementById('password');
        if (input.getAttribute('type') === 'password') {
            target.classList.add('view');
            input.setAttribute('type', 'text');
        } else {
            target.classList.remove('view');
            input.setAttribute('type', 'password');
        }
        return false;
    }

    function parseJwt (token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));
        return JSON.parse(jsonPayload);
    }

    window.onload = () => {
        const token = sessionStorage.getItem("token");
        const id = parseJwt(token).id;
        $.ajax({
            type: "GET",
            url: "/user?user_id=" + id,
            contentType: "application/json",
            headers: {"Authorization": token},
            success: function(data) {
                document.getElementById('login').value = data.login
                document.getElementById('username').value = data.username
            },
        });
    }
</script>

{% endblock %}


