<!DOCTYPE html>
<html lang="en">
<head>
  <title>Вход</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>


<div class="w3-card-4 w3-display-middle" style="width: 30%">
  <div class="w3-container w3-blue  ">
    <h2>Авторизация</h2>
  </div>
  <form class="w3-container " id="myForm">
    <p>
    <label><b>Логин</b></label>
    <input class="w3-input w3-border w3-sand" id="login" type="text"></p>
    <p>
    <label><b>Пароль</b></label>
    <input class="w3-input w3-border w3-sand" id="password" type="password"></p>
    <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
    <p>
    <label class="w3-text-red" style="display: none" id="label_unauth">* неверный логин или пароль</label></p>
    <p>
    <button onclick="my_click()" type="button"  class="w3-btn w3-blue">Вход</button></p>
    </form>
</div>

<style type="text/css">
.password-control {
	position: absolute;
	top: 190px;
	right: 25px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
</style>


<script>
  function my_click() {
  var formData = JSON.stringify({"login": $("#login").val(), "password": $("#password").val()});
  console.log(formData);


  $.ajax({
    type: "POST",
    url: "/token",
    data: formData,

    success: function(data) {
          sessionStorage.setItem('token',  data.access_token);
          sessionStorage.setItem('photo_url',  parseJwt(data.access_token).photo_url);

          document.cookie = `Authorization=${data.access_token}`;
          window.location.href = '/page/tables';
    },

    error: function(request,status,errorThrown) {
        if (errorThrown === "Unauthorized" || errorThrown === "Not Found") {
          $("#login").val("");
          $("#password").val("");
          $("#login").focus();
          $("#label_unauth").show();

          $("#login").attr("class", "w3-input  w3-border w3-border-red w3-khaki");
          $("#password").attr("class", "w3-input  w3-border w3-border-red w3-khaki");
        }

    },

    dataType: "json",
    contentType : "application/json"
    });

  }

  function show_hide_password(target) {
    const input = document.getElementById('password');
    if (input.getAttribute('type') === 'password') {
      target.classList.add('view');
      input.setAttribute('type', 'text');
    } else {
      target.classList.remove('view');
      input.setAttribute('type', 'password');
    }
    return false;
  }

  function parseJwt (token) {
    var base64Url = token.split('.')[1];
    var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
    var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));
    return JSON.parse(jsonPayload);
  }

  </script>
</body>
</html> 
