<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

    <div class="w3-row w3-center w3-blue w3-card-4  ">
      <a href="/page/tables" class="w3-bar-item w3-button"  {% block bar_item_1_style %} style="padding: 26px" {% endblock %}>Таблицы</a>
      <a href="/page/teachers" class="w3-bar-item w3-button"  {% block bar_item_2_style %} style="padding: 26px" {% endblock %}>Преподаватели</a>
      <a href="/page/stat" class="w3-bar-item w3-button"  {% block bar_item_3_style %} style="padding: 26px" {% endblock %}>Статистика</a>
      <a href="/page/logs" class="w3-bar-item w3-button"   {% block bar_item_4_style %} style="padding: 26px" {% endblock %}>Логи</a>

      <div id="icon_btn" class="w3-button  w3-right" onclick="view_panel()" style="padding: 2px; padding-left:6px">
		    <img src="" id="avatar_img" class="w3-circle" style="width: 70px; height: 70px; ">
        <i class="fa fa-chevron-down" style="font-size: 12px; padding-left:  6px; padding-right: 12px "></i>
      </div>
    </div>

     
    <div id="pop-up_panel" class=" w3-container w3-white  w3-card-4" style=" position: absolute; visibility: hidden; right:0px ; display: flex; flex-direction: column;">
    	  <div class="w3-button w3-blue " onclick="to_admin()"  style=" margin-top: 10px">
           <i class="fa fa-user " style="font-size: 12px;"></i>
          <label>Профиль</label>
        </div>
        
        <div class="w3-button w3-blue" onclick="to_import_export()"  style=" margin-top: 10px">
           <i class="fa fa-gear" style="font-size: 12px;"></i>
          <label>Настройки</label>
        </div>
        
        <div class="w3-button w3-red" onclick="exit_website()" style=" margin-top: 10px; margin-bottom: 15px">
           <i class="fa  fa-sign-out" style="font-size: 12px;"></i>
          <label>Выход</label>
        </div>
      

	  </div>

{% block content %}{% endblock %}



</body>

<script>
  function to_admin(){
    window.location.href = "/page/admin"
  }

  function to_import_export(){
    window.location.href = "/page/import_export"
  }

  function exit_website(){
    sessionStorage.clear();
    window.location.href = "/"
  }

  function view_panel(){
    $('#pop-up_panel').css('visibility', 'visible');
    $('#icon_btn').attr("onclick", "hidden_panel()");
  }

  function hidden_panel(){
    $('#pop-up_panel').css('visibility', 'hidden');
    $('#icon_btn').attr("onclick", "view_panel()");
  }

  photo_url = sessionStorage.getItem('photo_url');
  $('#avatar_img').attr('src', photo_url)
</script>

</html>


