{% extends "base.html" %}

{% block head %}
<title>Редактирование таблицы</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
{% endblock %}


{% block content %}
<div class="w3-display-middle" style="width: 40%">
  <h2>Редактирование таблицы</h2>

  <div class='w3-group'>
    <div id='addTableForm'>
      <label class="w3-label" for="tableName">Название таблицы</label>
      <input class="w3-input w3-border w3-sand" type="text" id="tableName" name="tableName" placeholder="Введите название новой таблицы..." value="{{ table.tableName }}">

      <label class="w3-label" for="tableUrl">Ссылка</label>
      <input class="w3-input w3-border w3-sand" type="text" id="tableUrl" name="tableUrl" placeholder="Введите ссылку на новую таблицу..." value="{{ table.tableUrl }}">

      <label class="w3-label" for="message">Текст уведомления</label>
      <input class="w3-input w3-border w3-sand" type="text" id="message" name="message" placeholder="Введите текст уведомления для преподавателя, связанного с новой таблицей..." value="{{ table.message }}">

      <label class="w3-label" for="columnName">Колонка идентификатора</label>
      <input class="w3-input w3-border w3-sand" type="text" id="columnName" name="columnName" placeholder="Введите идентификатор колонки с отслеживаемыми изменениями..." value="{{ table.columnName }}">

      <button id="{{ table.id }}" class="w3-button w3-blue" onclick='editTable()'>Сохранить</button>
    </div>
  </div>
</div>
<script>

function editTable(){
    var formData = {};
    formData["tableName"] = $("#tableName").val();
    formData["tableUrl"] = $("#tableUrl").val();
    formData["message"] = $("#message").val();
    formData["columnName"] = $("#columnName").val();
    formData["table_id"] = $("button").attr('id'); 

    $.ajax({
      type: "PUT",
      url: "/table/editTable",
      data: JSON.stringify(formData),
      success: function(){location.href = "/page/tables"},
      headers: {
        "Authorization": sessionStorage.getItem("token")
      },
      contentType: "application/json; charset=utf-8",
      dataType: "json",
    });
}

</script>

{% endblock %}