{% extends "base.html" %}

{% block head %}
  <title>Преподаватели</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- зашрузим дыннне с бд -->
  <script>

    window.MAX_NUM_ROW_TABLE = 2 // максимальное количество строк в таблице
    window.curr_page = 1 // текущая страница таблицы
    window.flad_load_tables = false
    window.flag_search = false

    $.ajax({
    type: "GET",
    url: "/user/teachers",
    contentType : "application/json",
    headers: {"Authorization": sessionStorage.getItem("token")},

    success: function(data) {
          window.curr_arr_tables = data; //массив всех таблиц
          window.flad_load_tables = true
          },

    error: function(request,status,errorThrown) {

          $("body").html(`<h2> ${errorThrown}</h2>`);
        
    }

    });

  </script>

{% endblock %}



{% block bar_item_2_style %} 
style= "border-bottom-color: white;
        box-sizing: border-box;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        padding: 24px 26px" 
{% endblock %}



{% block content %}
  <div id="loading" style="margin-top: 200px;">
    <h2 class="w3-center">Loading...</h2>
  </div>
  
  <div class=" w3-container w3-margin " style="visibility: hidden;"  id="search_div">
    <div class=" w3-card-4 " style="padding-bottom: 10px; padding-top: 1px">
    
    <h3 class = "w3-center">Поиск</h3>
    
      <!------------------------------------------------ Поля поиска ----------------------------------------------------------------->
      
        <div class="w3-container   w3-cell w3-cell-top"  style="width: 150px; padding-right: 0px">
          <p>ФИО:</p>
          <p  style="margin-top:24px" >Должность:</p>
        </div>
        
        <div class="w3-container   w3-cell w3-cell-top" style="width: 350px; padding-left: 0px; padding-right: 26px">
          <input class="w3-input w3-border" style="margin-top:6px" type="text" placeholder="Введите данные" id="label_name">
          <input class="w3-input  w3-border" style="margin-top:8px"  type="text" placeholder="Введите данные" id="label_position">
        </div>
        
        <div class="w3-container   w3-cell w3-cell-top"  style="width: 150px;   padding-right: 0px">
          <p>Телеграм ник:</p>
        </div>
        
        <div class="w3-container   w3-cell w3-cell-top" style="width: 350px; padding-left: 0px">
        <input class="w3-input w3-border" style="margin-top:6px" type="text" placeholder="Введите данные" id="label_userTg">
        
        </div>
         
         

      <!------------------------------------------------ Кнопки ----------------------------------------------------------------->

        <div class="w3-container  w3-cell w3-cell-middle " style="
     padding-left: 120px; padding-top:20px" >
           <div class="w3-container w3-center w3-cell">
             <button onclick="search()" class="w3-btn w3-blue w3-large" >Поиск</button></p>
          </div>
    
          <div class="w3-container w3-center w3-cell" style="
     padding-left: 50px;" >
            <button onclick="cancel()" class="w3-btn w3-gray w3-large " >Отмена</button></p>
          </div> 
        </div>
        
         
          
         
    
    </div>
 
    </div>

  
<div class=" w3-container  w3-margin"  style="visibility:hidden;" id="table_div">
  <div class=" w3-card-4 ">
  <div class="w3-bar">
  
    <div class="w3-container  w3-bar-item " >
      <p ><b>Таблица преподавателей</b></p>
    </div>
    
   
    
    <div class="w3-container w3-right w3-bar-item" style="margin-top: 10px" >
       <button  id="delete_btn" onclick="delete_mode()" class="w3-btn w3-red " >Удалить</button></p>
    </div>
    
    <div class="w3-container w3-right w3-bar-item" style="margin-top: 10px" >
       <button id="create_btn" class="w3-btn w3-blue " onclick="create()" >Создать</button></p>
    </div>
  </div>
  
  
  <div class=" w3-container">
  <table class="w3-table-all"  style="margin-bottom: 25px" id="table">
    <tr>
      <th class="w3-center">ФИО</th>
      <th class="w3-center" >Должность</th>
      <th  class="w3-center" >Телеграм</th>
      <th  class="w3-center">Действия</th>
    </tr>
    

      
    </table>


    <div class="w3-show-inline-block w3-right" style="margin-bottom: 15px">
      <div class="w3-bar w3-border " id="pagination">
        <!-- <a href="#" class="w3-bar-item w3-button">&laquo;</a>
        <a href="#" class="w3-bar-item w3-button w3-blue ">1</a>
        <a href="#" class="w3-bar-item w3-button">2</a>
        <a href="#" class="w3-bar-item w3-button">3</a>
        <a href="#" class="w3-bar-item w3-button">4</a>
        <a href="#" class="w3-bar-item w3-button">&raquo;</a>-->
      </div>
      </div>

  </div>
  
  
  </div>
  </div>

<script>

function create(){
  location.href = "/page/add_teacher";
}

window.onload = ()=> {
  
  let intervalId = setInterval(()=> {
    if (window.flad_load_tables === true) {
      
      clearInterval(intervalId);
      update()
      end_load()
    }
  }, 1000);

  
}

function end_load() {
  $("#search_div").css("visibility","visible");
  $("#table_div").css("visibility","visible");
  $("#loading").remove();
}


//window.onload = insert_table_html(1)

//вставляет пагинацию
function insert_pagination(){
  pagin_html = " <button  onclick=\"left_click()\" class=\"w3-bar-item w3-button  w3-border\">&laquo;</a>"   

  for(i = 1; i <= window.max_num_page; i++){
    pagin_html += "<button  id=\"pagn_btn_"+ i + "\" onclick=\"click_pagging_btn("+i+")\" class=\"w3-bar-item w3-button \" style=\"padding: 8.8px 16px\">" + i +"</a>"
  }

  pagin_html += " <button  onclick=\"right_click()\" class=\"w3-bar-item w3-button  w3-border\" >&raquo;</a>"

  $("#pagination").html(pagin_html)

  $('#pagn_btn_1').addClass('w3-blue');

}

//вставляем строки
function  insert_table_html(n_page){
  rows_html = `<tr>
                <th class="w3-center">ФИО</th>
                <th  >Должность</th>
                <th   >Телеграм</th>
                <th  class="w3-center">Действия</th>
              </tr>`

  tables = window.curr_arr_tables
  M = window.MAX_NUM_ROW_TABLE

  for(i = (n_page-1) * M; i < M * n_page; i++){
    el = tables[i]

    if (i >= tables.length) {
      //создаем пустую строку
      rows_html +=`<tr>
                    <td style="height: 39.3px"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>`
      continue;
    }

    rows_html +=  ` <tr>
                      <td  >${el.username}</td>
                      <td  >${el.position}</td>
                      <td  >${el.userTg }</td>
                      <td  class="w3-center"><button id=${el.id} style = "color: blue;" onclick="OpenSettings(this.id)">Настроить</button></td>
                    </tr>`
  
  }

  $("#table").html(rows_html)

}


function OpenSettings(teacher_id){
  // функция, открывающая страницу с настройками 
  location.href = '/page/setting_teacher/' + teacher_id;
}


//переход по таблице в право
function right_click() {
  if (window.curr_page >= window.max_num_page ) return;

  insert_table_html(window.curr_page + 1)
  $('#pagn_btn_'+ window.curr_page ).removeClass('w3-blue')
  $('#pagn_btn_'+ (window.curr_page+1)).addClass('w3-blue')

  window.curr_page = window.curr_page + 1
}

//переход по таблице в право
function left_click() {
  if (window.curr_page <= 1) return;

  insert_table_html(window.curr_page - 1)
  $('#pagn_btn_'+ window.curr_page ).removeClass('w3-blue')
  $('#pagn_btn_'+ (window.curr_page-1)).addClass('w3-blue')

  window.curr_page = window.curr_page - 1
}

function search(){
  var input_text = {
    name: $('#label_name').val(),
    position: $('#label_position').val(),
    userTg: $('#label_userTg').val()
  }


  if (window.flag_search === false) {
    window.copy_arr_tables =  window.curr_arr_tables.slice();
  } else {
    window.curr_arr_tables = window.copy_arr_tables.slice();
  }
  
  let arr_func = [];

  if (input_text.name != "") arr_func.push( (el) => el.username.toLowerCase().includes(input_text.name.toLowerCase()) );
  if (input_text.position != "") arr_func.push( (el) => el.position.toLowerCase().includes(input_text.position.toLowerCase()) );
  if (input_text.userTg != "") arr_func.push( (el) => el.userTg.toLowerCase().includes(input_text.userTg.toLowerCase()));

  window.flag_search = true;

  window.curr_arr_tables =  window.curr_arr_tables.filter((el)=>{var sum = true;
                                                                 for(i = 0; i < arr_func.length; i++){
                                                                   sum = sum &&  arr_func[i](el) 
                                                                 };
                                                                 return sum});

  update()
}


function cancel(){
  window.curr_arr_tables = window.copy_arr_tables.slice();
  delete window.copy_arr_tables

  window.flag_search = false;

  $('#label_name').val('');
  $('#label_position').val('');
  $('#label_userTg').val('');

  update()
}


function update(){
  var max_len_list = window.curr_arr_tables.length 
  var max_num_page = Math.floor(max_len_list / window.MAX_NUM_ROW_TABLE)

  if(max_len_list % window.MAX_NUM_ROW_TABLE != 0){
    max_num_page = max_num_page + 1
  }

  window.max_num_page = max_num_page //максимальное  количество страниц таблицы
  insert_pagination()
  insert_table_html(1)
}


function delete_mode(){

  $("#delete_btn").replaceWith(`<button id="accept_del_btn" onclick="accept_delete()" class="w3-btn w3-red " >Подтвердить</button></p>`)

  $("#create_btn").replaceWith(`<button id="cancel_del_btn" onclick="cancel_delete_mode()" class="w3-btn w3-gray " >Отменить</button></p>`)
  
  $( "tr" ).slice(1).append( (ind)=>{ return `<input class="w3-check" type="checkbox" id="chek_${ind}">`})

}


function cancel_delete_mode(){
  $("#accept_del_btn").replaceWith(`<button  id="delete_btn" onclick="delete_mode()" class="w3-btn w3-red " >Удалить</button></p>`)

  $("#cancel_del_btn").replaceWith(`<button id="create_btn" class="w3-btn w3-blue " >Создать</button></p>`)
  
  $(".w3-check" ).remove()
}

function accept_delete(){
  var arr_ind_checked = []

  $('input:checkbox').each( function(ind) {if ($(this).prop('checked'))  arr_ind_checked.push(ind) })


  var id_del_el = []

  var n_page = window.curr_page
  var ofsset =  (n_page-1) * window.MAX_NUM_ROW_TABLE

  arr_ind_checked.forEach((currentValue)=>{
                                          id_del_el.push( window.curr_arr_tables[ofsset + currentValue].id)
                                          window.curr_arr_tables.splice(ofsset + currentValue,1)
                                          ofsset -= 1
                                          })

  $.ajax({
    type: "DELETE",
    url: "/user/deleteTeacher",
    contentType : "application/json",
    });

  
  cancel_delete_mode()
  update()

}

function click_pagging_btn(n){
  insert_table_html(n)


  $('#pagn_btn_'+ window.curr_page ).removeClass('w3-blue')
  $('#pagn_btn_'+ n).addClass('w3-blue')

  window.curr_page = n

}

</script>

  
{% endblock %}